<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574653969759-h8dsslap2ob4is3eb97bpqulde63udni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574653969759-h8dsslap2ob4is3eb97bpqulde63udni</string>
	<key>API_KEY</key>
	<string>AIzaSyDCN62_NhDmkFOXAPvjzluzSGwJlYX0S7c</string>
	<key>GCM_SENDER_ID</key>
	<string>574653969759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junewoo.flashChat</string>
	<key>PROJECT_ID</key>
	<string>bamboo-climate-259309</string>
	<key>STORAGE_BUCKET</key>
	<string>bamboo-climate-259309.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574653969759:ios:a145885d02a936365472ea</string>
	<key>DATABASE_URL</key>
	<string>https://bamboo-climate-259309.firebaseio.com</string>
</dict>
</plist>